@import "tailwindcss";

.active{
    color: orangered;
}

/* globals.css yoki style.css */
.scrollbar-hide::-webkit-scrollbar {
    display: none;
}

.scrollbar-hide {
    -ms-overflow-style: none;
    /* IE va Edge */
    scrollbar-width: none;
    /* Firefox */
}